<div style="margin-left: 40px">
<div class="row">
<form class="navbar-form navbar-left" #busca="ngForm" (ngSubmit)="pesquisarPorCpf(busca)">
    <p>   Digite um CPF para pesquisar<br></p>
  <div class="form-group">
    <input name="cpf" ngModel type="text" class="form-control" placeholder="cpf">
  </div>
  <button type="submit" class="btn btn-default">Pesquisar</button>
</form>
</div>

<div class="row" *ngIf="resultado_pesquisa" style="margin-left: 10px">
    NOME: {{resultado_pesquisa.nome}}<br>
    CPF: {{resultado_pesquisa.cpf}}<br>
    IDADE: {{resultado_pesquisa.idade}}<br>
    SEXO: {{resultado_pesquisa.sexo}}<br>
    ESTADO_CIVIL: {{resultado_pesquisa.estado_civil}}<br>
    ESTADO: {{resultado_pesquisa.estado}}<br>
    DEPENDENTES: {{resultado_pesquisa.dependentes}}<br>
    RENDA: {{resultado_pesquisa.renda}}<br>
    RESULTADO DA ANÁLISE: {{resultado_pesquisa.resultado_analise}}<br>
    LIMITE: {{resultado_pesquisa.limte}}
</div>
</div>